/*.navbar {
  margin: 0 2.5rem;
  padding: .5rem 0;
  align-items: center;
  display: flex;
  justify-content:space-between;
}

.navbarLeft, .navRight {
  display: flex;
  align-items: center;

}

a > span{
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: rgb(243, 15, 15);
  font-weight: 500;
}

a > span:hover {
  color: red;
}

.navbar__icon {
  width: 100px;
  cursor: pointer;
}

.user__avatar {
  font-size: 2rem;
}
.text {
  background: #FCEABB;
  background: repeating-radial-gradient(ellipse farthest-corner at center center, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
  
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 200;
  font-family: inherit;
  
}*/

/* Navbar.css */

/* Navbar.css */
.navbar {
  margin: 0 2.5rem;
  padding: .5rem 0;
  align-items: center;
  display: flex;
  justify-content:space-between;
}

.navbarLeft .text{

  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: #FCEABB;
  background: repeating-radial-gradient(ellipse farthest-corner at center center, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
  
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 200;
}

.navbarRight span, .logoutBtn {
  font-size: 1.1rem;
  color: #ffffff;
  padding: 10px 20px;
  border: 2px solid #ffcc00;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  cursor: pointer;
}

.navbarRight span:hover, .logoutBtn:hover {
  background-color: #ffcc00;
  color: #0d0d0d;
}

.logoutBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .navbarLeft .text {
      font-size: 1.6rem;
  }

  .navbarRight span, .logoutBtn {
      font-size: 1rem;
  }
}
