<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineDash Server Home Page</title>
</head>
<body>

    <h1>Welcome to the CineDash Server</h1>
    <p>Use the following urls to retrieve data.</p>

    <h2>From SQLite internal database</h2>
    <p>- Go to (rest framework) API root ===> <a href="{{ urls.api }}">/api/</a></p>
    <p>- Get list of movies ===> <a href="{{ urls.api_movies }}">/api/movies/</a></p>
    <p>- Get list of profiles ===> <a href="{{ urls.api_profiles }}">/api/profiles/</a></p>
    
    <h2>From The Movie DataBase "TMDB" (external API service)</h2>
    <p>- Get movie with id = 11 ===> <a href="{{ urls.tmdb_movies_id }}">/tmdb/movies/{id}/</a></p>
    <p>- Get popular movies ===> <a href="{{ urls.tmdb_movies_popular }}">/tmdb/movies/popular/</a></p>
    <p>- Get top rated movies ===> <a href="{{ urls.tmdb_movies_top_rated }}">/tmdb/movies/top_rated/</a></p>
    <p>- Get upcoming movies ===> <a href="{{ urls.tmdb_movies_upcoming }}">/tmdb/movies/upcoming/</a></p>
    <p>- Get poster with image size = "original" and with path = "1E5baAaEse26fej7uHcjOgEE2t2.jpg" ===> <a href="{{ urls.tmdb_posters_size_path }}">/tmdb/posters/{size}/{path}/</a></p>
  
</body>
</html>