<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineDash Server Home Page</title>
</head>
<body>
    <h1>Welcome to the CineDash Server</h1>
    <p>Use the following urls to retrieve data.</p>

    <h2>From SQLite internal database</h2>
    <p><a href="{{ internal_urls.api }}">Internal API /api/ (root) endpoint</a></p>
    <p><a href="{{ internal_urls.movies }}">Internal API /api/movies/ endpoint</a></p>
    
    <h2>From The Movie DataBase "TMDB" (external API service)</h2>
    <p><a href="{{ tmdb_urls.tmdb_movie_11 }}">External TMDB API /tmdb/11/ endpoint</a> (get movie with id = 11)</p>
  
</body>
</html>