<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/auth.css">
    <title>Signup</title>
</head>
<body>
    <div class="auth-container">
        <div class="auth-form">
            <h2>Create an Account</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-submit">Sign Up</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
        </div>
    </div>
</body>
</html>
