<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="signupPage">
        <div class="signupContainer">
            <h3>Sign Up</h3>
            <form class="signupForm" action="#" method="post">
                <div class="inputGroup">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="inputGroup">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your Email" required>
                </div>
                <div class="inputGroup">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password" required>
                </div>
                <div class="inputGroup">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your Password" required>
                </div>
                <button type="submit" class="btn btn-success">Sign Up</button>
            </form>
            <div class="loginPrompt">
                <p>Already have an Account?</p>
                <a href="/login" class="btn btn-primary">Login</a>
            </div>
        </div>
    </div> 
</body>
</html>



