.account {
    text-align: center;
    margin-top: 50px;
}

.account button {
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
}

.account button:hover {
    background-color: #c82333;
}